/* General body and background */
body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/papyrus.png");
    margin: 0;
  }

  h1, h2, h3, h4 {
      color: white !important; 
      font-family: 'Metamorphous', cursive !important;
      text-align: center !important; 
  }

/* #gifs-appear-here {  
    margin: 0 auto;
  } */
  
  .topicImg {
    width: 470px;
    height: 240px;
    margin: auto;
    max-width: 100%;
  }
  
  .gifRating {
    color: white !important;
    text-align: center !important; 
    font-family: 'Metamorphous', cursive !important;
  }
  